/* color
  header: #404eed
  main: #f6f6f6
  footer: #23272a  */

/*--------------
    RESET
---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------
    GENERAL
---------------*/

body {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

/**/
.debug {
  border: 3px dotted brown;
}

/*--------------
    HEADER
---------------*/

.menu {
  background-color: aquamarine; /**/
  padding: 20px 0;
}

.menu-content {
  background-color: yellowgreen; /**/
  display: flex;
  justify-content: space-between;
}

.menu-content > * {
  padding: 10px;
}

.download {
  background-color: #404eed;
  padding: 50px 0;
}

.download-content {
  height: 250px;  /***/
  background-color: blueviolet; /**/  
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
}

/*--------------
    MAIN
---------------*/

main section {
  padding: 50px 0;
}

main section.section-grey {
  background-color: #f6f6f6;
}

main section > * {
  height: 300px; /**/
  display: flex;  
}

main section:last-child > * {
  height: 400px; /**/
  background-color: lightgreen;  /**/
  flex-direction: column;  
}

.img {
  background-color: lightskyblue;  /**/
  width: 60%;
}

.text {
  background-color: pink;  /**/
  width: 40%;
}

/*--------------
    FOOTER
---------------*/

footer {
  background-color: #23272a;
  color: white;
  padding: 30px 0;
}

.info {
  height: 400px; /**/
  margin-bottom: 20px;
  display: flex;
}

.info .info-content {
  background-color: lightseagreen; /**/
  width: calc(70% / 4);
}

.info .social {
  background-color: lightcoral; /**/
  width: 30%;
}

.signin {
  background-color: lightsalmon; /**/
  border-top: 5px solid white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.signin > * {
  padding: 10px;
}